<p class="txtcenter">Center aligned text on view sizes</p>

<div class="product-list">
<div class="card" style="width:18rem">
    <img src=""class="card-img-top" alt="phone">
    <div class="card-body">
      <h5 class="card-title">Mobile Phone</h5>
      <p class="card-text">
        Some quick example text to build on the card title and make up the bulk of the
        card's content.
      </p>
      <a href="" routerLink="laptop" class="btn btn-primary">Buy Now</a>
    </div>
    <br>
    <div class="card" style="width:18rem">
        <img src="..."class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Mobile Phone</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the bulk of the
            card's content.
          </p>
          <a href="" routerLink="laptop" class="btn btn-primary">Buy Now</a>
        </div>
        <div class="">
            <router-outlet></router-outlet>
        </div>
  </div>